@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

/*setting*/
@import "setting/reset.css";
@import "setting/variable.css";

/*common_components*/
@import "components/status.css";
@import "components/nav-bar.css";
@import "components/header.css";
@import "components/user.css";

/*pages*/
@import "pages/login.css"; 
@import "pages/friends.css";

body{
    color: #232323;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.main-page{
    padding:0 var(--horizontal-space);
}