@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import "reset.css";
@import "variable.css";
@import "status.css";
@import "login.css"; 
@import "friends.css";

body{
    color: #232323;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}