.user-components{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.user-components__column:first-child{
    display: flex;
}  
.user-components__column:last-child{
    color:rgba(0,0,0,0.5);
} 
.user-components__pic{
    border-radius: 25px;
    margin-right:20px ;
}
.user-components__pic_lg{
    width:80px;
    height: 80px;
}
.user-components__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-components__text h6{
    color:rgba(0,0,0,0.5);
    font-size: 13px;
    margin-top: 10px;
}
.user-components__title{
    font-weight: 700;
    font-size: 20px;
}
.user-components__pic_sm{
    width:60px;
    height: 60px;
    border-radius: 23px;
}
.user-components__title-not-bold{
    font-weight: 400;
    font-size: 15px;
}
.user-components__pic_mid{
    width:70px;
    height: 70px;
    border-radius: 25px;
}