#FriendNamesDisplay{
    display: block;
    text-align: center;
    background-color: #f9f9fa;
    padding:13px;
}
#FriendNamesDisplay i{
    color:rgba(0, 0, 0, 0.3);
}
.main-page__channel-bar{
    border-top: 1px solid rgba( 0,0,0,0.2);
    margin-top:25px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    color:rgba( 0,0,0,0.5);
}
.main-page__channel-bar span{
    font-size:13px;
}